/* styles.module.scss */
.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f8f9fa;
  border-bottom: 1px solid #ddd;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.wrapper {
  max-width: 1200px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 1366px) {
    max-width: 1000px;
  }
}

input[type="file"] {
  display: none;
}

.fileContainer {
  display: flex;
  gap: 0.5rem;
}

.fileButton {
  max-width: 15rem;
  display: inline-block;
  padding: 0.3rem 0.5rem;
  background-color: #ffffff;
  color: #333;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid gray;
  margin-bottom: 0rem !important;
  text-align: center;
  transition: 0.1s ease-in-out;
}

.fileButton:hover {
  background-color: #ffffff;
  border: 1px solid #000000;
  color: #000000;
}

.submitButton {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 0.3rem 0.5rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #1266c0;
  }

  &:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }
}

.searchBar {
  margin-left: auto;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px;
}
