input[type="file"] {
  display: none;
}

.fileContainer {
  display: flex;
  gap: 0.5rem;
}

.fileButton {
  max-width: 15rem;
  display: inline-block;
  padding: 0.3rem 0.5rem;
  background-color: #ffffff;
  color: #333;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid gray;
  margin-bottom: 0rem !important;
  text-align: center;
  transition: 0.1s ease-in-out;
}

.fileButton:hover {
  background-color: #ffffff;
  border: 1px solid #000000;
  color: #000000;
}

.submitButton {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 0.3rem 0.5rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #1266c0;
  }

  &:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }
}
